@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLURoYXJhbmk6OUREVm93aUlXelZTVGI1V2xRWTNPTFpiMUpveXJ6bEU=
always-auth=true
