
  .pdf-button {
    margin-left: 568px;
    position: relative;
    top: 34px;
    background-color: #000;
    color: #fff;
    padding: 8px 17px 8px 15px;
    border-radius: 40px;
    font-size: 12px;
  }

  .pdf-icon {
    position: relative;
    top: 44px;
    padding: 0px 0px 1px 0px;
    color: #ff1212;
    font-size: 40px;
    margin-left: -15px;
  }

  .pdf-container a {
    text-decoration: none;
  }

.pdf-container {
    padding-top: 0px;
    margin-top: -38px !important;
}

