img{
  width: 100%;
  height: 300px;
}

.total-header {
  margin-bottom: 15px;
  padding: 12px 5px;
  background-color: transparent;
  width: fit-content;
}

.total-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
  letter-spacing: 0.3px;
  
  .total-count-value {
    font-size: 22px;
    font-weight: 700;
    color: var(--cx-color-melon);
    margin-left: 5px;
  }
}

.form-control{
  padding: 0.375rem 0.75rem;
}
.dashboard-nav-main-container {
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(11, 22, 44, 0.05);
}
.container-default {
  max-width: 1092px;
  padding-right: 24px;
  padding-left: 24px;
}
.dashboard-nav-container {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-box-align: center;
  align-items: center;
}
.dashboard-nav-left-content {
  display: flex;
  width: 100%;
  margin-right: 32px;
  -webkit-box-align: center;
  align-items: center;
}
.mg-right-24px {
  margin-right: 24px;
}
.text-400.medium {
  font-weight: 500;
}
.text-400 {
  font-size: 18px;
  line-height: 1.3em;
}
.color-neutral-800 {
  color: #0b0e2c;
}
.dashboard-main-content {
  min-height: 92vh;
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #f7f9fc;
   .heading-h4-size{
        cursor: pointer;
    }
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.mg-bottom-40px {
  margin-bottom: 40px;
  opacity: 1;
}
.grid-2-columns {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
#w-node-d824fe58-9d11-82a3-5bd0-f6415558c652-901e71ba, #w-node-_15bcd904-cca9-3107-d162-2cf33da79d40-901e71ba {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  pointer-events: auto;
}
.heading-h4-size {
  color: #0b0e2c;
  font-size: 22px;
  line-height: 1.273em;
  font-weight: 700;
  text-decoration: none;
}
.mg-bottom-8px {
  margin-bottom: 8px;
}
.reports-top-details-container {
  display: flex;
  margin-bottom: 24px;
  -webkit-box-pack: justify;
  justify-content: start;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
  grid-template-rows: auto;
  justify-content: start;
  gap: 15px;
  flex-wrap: wrap;
}
.module.reports-top-details {
  display: flex;
  width: 100%;
  padding: 12px 11px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 24px;
}
.module {
  border-style: solid;
  border-width: 1px;
  border-color: #e9eaf3;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(25, 93, 194, 0.07);
}
.reports-top-details-icon {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
.text-200.medium {
  font-weight: 500;
}
.text-200 {
  font-size: 13px;
  line-height: 1.143em;
}
.flex.align-end {
  -webkit-box-align: end;
  align-items: flex-end;
}
.mg-right-6px {
  margin-right: 6px;
}
.display-4 {
  color: #0b0e2c;
  font-size: 16px;
  line-height: 1.455em;
  font-weight: 700;
}
.module.graph-large {
  margin-bottom: 24px;
  padding: 28px 36px 56px;
  border-radius: 30px;
}
.text-300.bold {
  font-weight: 700;
}
.text-300 {
  font-size: 16px;
  line-height: 1.125em;
}
.dropbtn {
  z-index: 1;
  padding: 10px 10px 10px 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9eaf3;
  border-radius: 38px;
  background-color: #fff;
  cursor: pointer;
  color: rgb(111, 113, 130);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167em;
}

.dropdown {
  position: relative;
  display: inline-block;
  justify-self: end;
}


.dropbtn a {
  color: #6f7182;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider.top-20px---bottom-52px {
  margin-top: 20px;
  margin-bottom: 20px;
}
.divider {
  height: 1px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #e9eaf3;
}
.dashboard-banner{
  margin: 0px 0px 50px 0px;
}
.endDate{
  margin-left: 30px;
}
.bannerText{
  text-align: justify;
  padding: 15px;
  color: #5a1e2a;
  position: absolute;
  font-weight: 600;
  width: 23%;
  right: 0%;
  top: 1%;
  font-size: 13px;
}
.banner{
  position: relative;
}
.orderSummaryHeading{
  font-weight: 700;
}
.form-control:focus {
  background-color: #fff;
}
.bannerImage{
  padding: 0px;
}
.imageSection{
  padding: 0px;
  margin: 0px;
}
.chartType{
  width: auto;
  right: 6%;
  height: 7% !important;
  padding-top: 5px;
  position: absolute;
}
.orderStuck:hover, .orderProgress:hover, .orderCompleted:hover, .orderFailure:hover, .orderCancelled:hover, .show-all:hover,.InactiveUsers,.activeUsers{
  cursor: pointer;
}
.orderStuck:hover, .orderStuck.active{
  background-color: var(--cx-color-blue);
  box-shadow: 5px 5px 10px grey;
}
.orderProgress:hover, .orderProgress.active{
  background-color: var(--cx-color-melon);
  box-shadow: 5px 5px 10px grey;
}
.orderCompleted:hover, .orderCompleted.active{
  background-color: var( --cx-color-sky);
  box-shadow: 5px 5px 10px grey;
}
.orderFailure:hover, .orderFailure.active{
  background-color: var( --cx-color-red);
  box-shadow: 5px 5px 10px grey;
}
.orderCancelled:hover, .orderCancelled.active{
  background-color: var(--cx-color-gold);
  box-shadow: 5px 5px 10px grey;
}
.activeUsers:hover,.activeUsers.active{
  background-color: #81dee5;
  box-shadow: 5px 5px 10px grey;
}

.InactiveUsers:hover,.InactiveUsers.active{
  background-color: #ffd966;
  box-shadow: 5px 5px 10px grey;
}
.subStatus{   
  margin: 10px 0;
}
.c_tab{
  padding: 3px 3px;
  width: 50%;
}
.tabs{
  width: auto;
}
.show-all{
  top: 7px;
  position: relative;
  justify-content: center;
}
.show-all:hover, .show-all.active{
  background-color: #000;
  color: #fff;
  box-shadow: 5px 5px 10px grey;
}
.text-500{
  font-size: 13px;
  font-weight: 600;
}
[disabled]{
  pointer-events: none;
}


/*--------------------Mobile View------------------------------*/
@media (max-width: 640px)  {
  .chartType {
      right: 10%;
      padding-top: 2px;
  }
  .chart-section{
      overflow-x: auto;
  }
}
/*--------------------Tablet View------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px){
  .col-md-2 {
      flex: 0 0 16.66666667%;
      max-width: 20.666667%;
  }
  .show-all{
      width: 150px !important;
  }
}