cx-page-layout.LoginPageTemplate {
  display: block;
  width: 100%;
  cx-page-slot > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    margin-top: 6%;
  }
  label .label-content {
    margin-bottom: 1.175rem;
    margin-top: 23px;
  }
  .form-control {
    margin-bottom: 1.25rem;
  }
  .btn-link {
    margin-bottom:1.25rem;
    margin-top: 23px;
    color: #4995FF;
  }
  .btn-block.btn-primary{
    background-color: #FF7E51 !important;
  }
   .btn-block.btn-secondary.btn-register{
      border: 2px solid #FF7E51;
      color: #0E1020;
  }
  cx-form-errors p {
    margin-top: 23px;
    line-height: 20px;
  }
}